.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.05);
  display: flex;
  justify-content: center;
  backdrop-filter: blur(2px);
  .headerContent {
    width: 100%;
    padding: 20px 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
      height: 65px;
    }
    .profileIcon {
      cursor: pointer;
      width: 40px;
      height: 40px;

      border-radius: 50%;
    }
    .default {
      background: url('../../../public/assets/icons/defaultUser.svg') no-repeat;
      background-position: center;
      background-size: 55%;
      background-color: rgba(255, 255, 255, 0.06);
    }
  }
}
.profilePopover {
  min-width: 120px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  .profileOption {
    cursor: pointer;
    display: inline-block;
    width: 100%;
    padding: 10px;
    text-align: center;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.75);
    text-decoration: none;
  }
  .profileOption:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }
}
