.topicsSideBar {
  // width: 50px;
  height: calc(100vh - 105px);
  background-color: rgba(255, 255, 255, 0.05);
  display: flex;
  .sideBarTab {
    width: 50px;
    height: 205px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.04);
    outline: none;
    border: none;
    cursor: pointer;
    .sideBarTabText {
      text-decoration: none;
      padding: 15px 0px;
      color: #ffffff;
      font-size: 18px;
      writing-mode: vertical-lr;
      display: inline-block;
      text-orientation: mixed;
      transform: rotate(180deg);
    }
  }
  .sideBarTab:hover {
    background-color: rgba(255, 255, 255, 0.06);
  }
  .topicsSideBarBtn {
    .active {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
  .sideBarExpandView {
    height: 100%;
    transition: 1s width;
    background-color: rgba(255, 255, 255, 0.01);
    overflow: hidden;
    .chatSection {
      height: 50%;
      width: 285px;
      margin: 0 7.5px;
      overflow-y: auto;
      overflow-x: hidden;
      color: #ffffff;
      border-radius: 8px;
      .sectionHeader {
        width: 100%;
        font-size: 18px;
        font-weight: 600;
        padding: 0 10px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        display: flex;
        justify-content: space-between;
        gap: 10px;
        align-items: center;
        .addPeopleIcon {
          cursor: pointer;
          width: 27px;
          height: 27px;
          object-position: center;
        }
        .addPeopleText {
          padding: 15px 0;
        }
        .addPeopleTextField {
          height: 34px;
          font-size: 14px;
          margin: 9px 0;
          width: 100%;
        }
      }
      .userName {
        display: inline-block;
        width: 100%;
        cursor: pointer;
        font-size: 16px;
        padding: 8px 10px;
        border-radius: 4px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
      .selectedUser {
        background-color: rgba(255, 255, 255, 0.2);
      }
      .notSelectedUser:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }
    }
    .chatSection:hover {
      background-color: rgba(255, 255, 255, 0.05);
    }
    .tabMenu {
      display: inline-block;
      width: 300px;
      padding: 25px 25px 0px 25px;
      text-align: center;
      text-decoration: none;
      color: rgba(255, 255, 255, 0.35);
      font-size: 18px;
    }
    .tabMenu:hover {
      background-color: rgba(255, 255, 255, 0.01);
      color: rgba(255, 255, 255, 0.75);
    }
    .tabMenu::after {
      content: '';
      display: block;
      margin-top: 25px;
      width: 100%;
      background-color: rgba(255, 255, 255, 0.1);
      height: 1px;
    }
    .tabMenu:last-child {
      padding: 25px;
    }
    .tabMenu:last-child::after {
      display: none;
    }
    .activeTab {
      color: rgba(255, 255, 255, 1) !important;
    }
  }
  .isExpand {
    width: 300px;
  }
  .isClosed {
    width: 0px;
  }
}

// .addPeoplePopover {
//   min-width: 250px;
//   min-height: 300px;
//   padding: 15px;
//   display: flex;
//   flex-direction: column;
//   .addPeopleOption {
//     cursor: pointer;
//     display: inline-block;
//     width: 100%;
//     padding: 10px;
//     text-align: center;
//     font-weight: 600;
//     color: rgba(0, 0, 0, 0.75);
//     text-decoration: none;
//   }
//   .addPeopleOption:hover {
//     background-color: rgba(255, 255, 255, 0.5);
//   }
// }
