.customInput {
  display: flex;
  flex-direction: column;
  gap: 5px;

  .passwordWrapper {
    position: relative;
    input {
      width: 100%;
    }
    input[type="text"],
    input[type="password"] {
      padding-right: 50px;
    }
    .passwordIcon {
      cursor: pointer;
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      width: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  input[type="email"],
  input[type="password"],
  input[type="text"],
  input[type="number"] {
    color: #000000;
    background-color: transparent;
    border: 0.5px solid rgba(0, 0, 0, 0.25);
    padding: 10px 8px;
  }
  input[type="email"],
  input[type="password"],
  input[type="text"],
  input[type="number"]:focus {
    outline: none;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus {
    background-color: transparent !important;
    -webkit-text-fill-color: #000000;
    -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
    // border: 0.5px solid #403d54 !important;
  }
}
